

/* main content */

.SignUp__main-content{
    display: flex;
    height: 100vh;
}

/* left side */
.SignUp__left-container{
    flex: 1;
    background-color: #EA3788;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUp__left-container img{
    width: 60%;
    max-width: 750px;
    animation: floatUpDown 4s ease-in-out infinite;
}


/* Floating animation */
@keyframes floatUpDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* right side */
.SignUp__right-container{
    flex: 1;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
}


/* header */
.SignUp__right-container h2 {
    color: #EA3788;
    font-size: 46px;
    margin-bottom: 8px;
}

.SignUp__desc {
    margin-bottom: 50px;
    font-size: 20px;
    color: #555;
}

/* form */
.SignUp__form{
    /* background-color: #6a6a6a */
    width: 75%;
}

.SignUp__input-group{
    position: relative;
    margin-bottom: 30px;
}

.margin-none{
    margin-bottom: 15px;
}

.SignUp__input-group input {
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 20px 15px 15px 62px;
    background-color: #E9E7E7;
    border: none;
    border-bottom: 2px solid #ea3788c3;
    font-family: "Poppins", sans-serif;
}
  
.SignUp__input-group label {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
    font-size: 16px;
    transition: 0.3s;
}

.SignUp__username-icon {
    width: 35px;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
}

.SignUp__password-icon {
    width: 29px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(47deg) scaleX(-1);
}

  
.SignUp__input-group input:focus + label,
.SignUp__input-group input:not(:placeholder-shown) + label {
    top: 2px;
    font-size: 13px;
    color: #6a6a6a;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 5px;
    padding: 2px 5px;
}
input:focus {
    background-color: #fff;
    border-bottom: 2px solid #f7f7f7;
}
 

/* password requirements */
.SignUp__password-requirements{
    margin: 20px 10px 10px;
}

.SignUp__password-requirements p {
    font-size: 14px;
    font-weight: bold;
    color: #565252;
    margin: 0;
}

.SignUp__password-requirements ul{
    margin: 0;
    margin-bottom: 10px;
    padding:6px 0px;
    list-style: none;
}
  
.SignUp__password-requirements li{
    font-size: 12px;
    font-weight: 500;
    color: #565252;
    margin: 0;
}

.wrong{
    color: red;
    font-weight: bolder;
    font-size: 1.2em;
    margin-right: 3px;
}
  
.check{
    color: rgb(9, 185, 9);
    font-weight: bolder;
    font-size: 1.2em;
    margin-right: 3px;
}

/* sign up btn */
.SignUp__home-button {
    width: 100%;
    padding: 15px;
    background-color: #f3479c;
    color: white;
    border: none;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0 70px;
    transition: all 1s;
}
  
.SignUp__home-button:hover {
    background-color: #d63c89;
}

.SignUp__home-button:active {
    opacity: 0.8;
}


.SignUp__redirect-text {
    text-align: center;
    font-size: 17px;
    color: #333;
}

.SignUp__register-link {
    color: #ea3788;
    font-weight: 500;
    text-decoration: none;
}

.SignUp__register-link:hover {
    text-decoration: underline;
}